
@font-face {
    font-family: 'MyriadRegular';
    src: url('../fonts/MyriadRegular.woff2') format('woff2'),
        url('../fonts/MyriadRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Big Shoulders Text', cursive;
}


html{
  max-width: 1920px;
}

.container{
  max-width: 1620px;
  margin: 0 auto;
}

.container-fluid{
   max-width: 1620px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}
h1{
    font-size: 84px;
     line-height: 106px; 
    color: #ffffff;
    font-weight: 700;
    font-family: "Big Shoulders Text";
    }

h2 {
    font-size: 64px;
    line-height: 106px;
    color: #ffffff;
    font-weight: 800;
    font-family: "Big Shoulders Text";
}
h3 {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 108px;
    color: #ff3b6c;
    font-weight: 700;
    font-family: "Big Shoulders Text";
}

h4 {
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 108px;
    color: #ff3b6c;
    font-weight: 700;
    font-family: "Big Shoulders Text";
}

.top{
  height: 30px;
  background: #5ad5f9;

}

  .nav {
    height: 85px;
    width: 100%;
    background-color: #1f0369;
    position: relative;
    margin-top: -20px;
  }

  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 10px 15px 20px;
  }

  .nav > .nav-btn {
    display: none;
  }

  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  .nav > .nav-links > ul li a{
    display: block;
    padding: 0 8px;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;

  }
  .nav > .nav-links > ul{
    padding: 0;
    list-style: none;
    position: relative;

  }
  .nav > .nav-links > ul li{
    display: inline-block;
    margin: 0 10px;
    


  }
  .nav > .nav-links > ul li:hover a{
      color: #5ad5f9;
      
  }

  .active-nav{
    padding: 22px 5px!important;
    background-color: #5ad5f9;
    color: #1f0369!important;
  }

  .nav > .nav-links > ul li:hover .active-nav{
    color: #1f0369!important;
  }


  .nav > #nav-check {
    display: none;
  }

 .nav .nav-links ul span.icon{
 margin-left: 160px;
 margin-right: 0px!important;
 }

 /*.nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
 }
*/
.menu-login-btn a,.menu-member-btn a {
   text-decoration: none;
   color: #fff; 
}

.menu-member-btn a {
  color: #2b2d86!important;
}

.menu-login-btn{
  background: #140146;
  padding: 30px 90px;
  font-size: 18px;
  font-weight: bold;
  border: none;
}


.menu-member-btn{
  background: #5ad5f9;
   padding: 31px 30px 32px 30px;
   font-size: 18px;
  font-weight: bold;
  border: none;
}

  @media (max-width:1200px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > ul li a {
      display: block;
      width: 100%;
    }

    /*   */



      .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: #333;

      }
      .nav > .nav-links > ul li a{
          margin-left: 40%;
      }
      .nav .nav-links ul a.icon{
        margin-left: 33%;
      }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
      margin-top: 34px;
    }
  }

.banner{
  background: url(../banner1.png);
  background-size: cover;
}
 .hero{
  display: flex;
  align-items: center;
  padding: 100px 0;
  
}

.hero-content h4{
  font-size: 28px;
  color: #ff3b6c;
  margin-bottom: 0px;
  line-height: 50px;
}

.hero-content h1{
  font-size: 84px;
  color: #fff;
  line-height: 106px;
  text-transform: uppercase;
}

.hero-content p{
  font-family: MyriadRegular;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
  margin: 40px 0;
}

.hero-content .suscribe-btn{
  font-size: 18px;
  background: #5ad5f9;
  padding: 17px 55px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  
}



.hero-content .suscribe-btn:hover{
  background: transparent;
  border: 2px #5ad5f9 solid ;
}

.hero-content .watch-btn{
  font-size: 18px;
  background: transparent;
  border: 2px #5ad5f9 solid ;
  padding: 17px 30px;
  color: #5ad5f9!important;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 10px;
  
}

.hero-content .watch-btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  border: 3px solid #5ad5f9;
  /*margin: 20px;*/
  position: relative;
  letter-spacing: 1px;
}
.hero-content .suscribe-btn{
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 60px;
  border: 3px solid #5ad5f9;
  /*margin: 20px;*/
  position: relative;
  letter-spacing: 1px;
}
.hero-content .watch-btn:before,.hero-content .suscribe-btn:before {
  content: '';
  width: 20px;
  height: 20px;
  background: #000;
  border: 3px solid #5ad5f9;
  transform: rotate(45deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  top: -12px;
  left: -13px;
}
.hero-content .watch-btn:after ,.hero-content .suscribe-btn:after{
  content: '';
  width: 20px;
  height: 20px;
  background: #000;
  border: 3px solid #5ad5f9;
  transform: rotate(-132deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  top: auto;
  right: -13px;
  bottom: -12px;
}

.hero-content .watch-btn:hover{
  background: transparent;
}

.hero-content .watch-btn a{
  color: #5ad5f9!important;
}





/* featured videos */
.features {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #050401;
}
.features-container {
  display: flex;
  overflow: hidden;
}
.features-content {
  background-color: #111111;
  max-height: 256px;
  width: 35%;
  padding-left: 7.8%;
  z-index: 1;
}
.features-carousel-container {
  width: 64.8%;
  background-image: url(../features-carousel-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.features-carousel {
  margin-left: 133px;
  margin-top: 83px;
}
.features-carousel .owl-nav {
  display: block !important;
  color: white;
  position: absolute;
  top: 35%;
  left: -14.8%;
  margin: 0px;
}
.owl-theme .owl-nav [class*=owl-] {
  margin: 0px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background-color: inherit;
}
.features-carousel .owl-dots {
  display: none;
}
.features-content h4 {
  padding-top: 36px;
}
.features-content h2 {
  margin-top: -52px;
}
/*
.owl-next{
  margin: 25px 58px;
  visibility: hidden;
}*/
/*.disabled .arrow-left{display: none;}*/

.discover{
  padding: 150px 0;
  background: #050401;
}

.discover-heading{
  margin-bottom: 50px!important;
}
.discover-heading h5{
  font-size: 22px;
  color: #ff3b6c;
  /*margin-bottom: 10px;*/
}


.discover-box{
  display: flex;
  /*margin: 0 25px!important;*/
}


.discover-box2{
  display: flex;

  justify-content: center;
  margin-top: 50px;
}


.discover-container-2{
  margin: 50px 0!important;
}

.discover-heading{
  margin: 0 auto;
  text-align: center;
}

.discover-box-1{
  background: url(../dis1.png);
  background-repeat: no-repeat;
  width: 500px;
  height: 240px;
  box-sizing: content-box;
  display: flex;
  margin: 0 20px;
  z-index: 2;
  position: relative;
  
}

.discover-content{
padding: 30px 63px 80px 145px;

}

.discover-content h3{
  font-size: 36px;
  color: #fff;
  line-height: 46px;
}

.discover-content p{
  color: #fff;
  margin: 20px 0;
  opacity: .8;
  font-family: 'Jost', sans-serif;;
}

.discover-content a{
  color: #5ad5f9;
}

.latest-float-left {
    position: absolute;
    top: 1182px;
    left: 0px;
    
}

.latest-float-right {
    position: absolute;
    top: 1980px;
    right: 0px;
    z-index: 1;
}

.latest-float-right-2{
  position: absolute;
    top: 2820px;
    right: 150px;
    z-index: 1;
}

.latest{
  background: #111111;
  position: relative;
    z-index: 3;
}

.latest-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 360px;
}


.latest-content{
  margin-right: 100px;
}

.latest-content h5{
  font-size: 22px;
  color: #ff3b6c;
  margin-bottom: 10px;
}
.latest-content h2{
 /* margin-bottom: 60px;*/
 line-height: 80px!important;
}
.latest-content .latest-btn{
  font-size: 18px;
  background: transparent;
  padding: 25px 58px;
  color: #5ad5f9;
  margin: 50px 0;

}

.latest-content .latest-btn:hover{
  background: #fff;
  color: #5ad5f9;
}



.latest-content .latest-btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  border: 3px solid #5ad5f9;
  /*margin: 20px;*/
  position: relative;
  letter-spacing: 1px;
}

.latest-content .latest-btn:before {
  content: '';
  width: 20px;
  height: 20px;
  background: #111111;
  border: 3px solid #5ad5f9;
  transform: rotate(45deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  top: -12px;
  left: -13px;
}
.latest-content .latest-btn:after {
  content: '';
  width: 20px;
  height: 20px;
  background: #111111;
  border: 3px solid #5ad5f9;
  transform: rotate(-132deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  top: auto;
  right: -13px;
  bottom: -12px;
}



/*pricing start*/

.pricing{
  background: #050401;
  padding: 100px 0 150px 0;
}

.pricing-box-container{
  display: flex;
}

.blue-box{
  border-top: 5px #5ad5f9 solid!important;
  margin: 0 50px;
}

.navy-blue-box{
    border-top: 5px #1f0369 solid!important;
  
}

.pricing-heading{
  padding-top: 100px!important;
  text-align: center;
  margin-bottom: 20px;
}
.pricing-heading h5{
  font-size: 22px;
  color: #ff3b6c;
  /*margin-bottom: 10px;*/
}

.pricing-box-1{
  background: #111111;
  width: 500px;
  height: 250px;
  border-top: 5px #ff3b6c solid;
  text-align: center;
  padding-top: 40px;
}

.pricing-box-1 h3{
  font-size: 36px;
  color: #fff;
  margin-bottom: 10px;
  line-height: 30px;
}
.pricing-box-1 h2{
  display: inline;

}

.pricing-box-1 p{
  display: inline;
  font-size: 22px;
  color: #fff;
  font-family: 'Jost', sans-serif;
  margin-left: 10px;
}

.pricing-box-1 a{
  text-decoration: none;
  color: #5ad5f9;
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Big Shoulders Text', cursive;
}

.pricing-box-1 i{
  margin-left: 5px;
  font-size: 20px;

}

.member-content h2{
  margin: 10px 0 50px 0;
  line-height: 81px;
}


.member{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
  
}
.member-content{
  margin-top: -60px;
}
.member-content h5{
  font-size: 22px;
  color: #fff;
  margin-bottom: 10px;
}



.member-btn {
   font-size: 18px;
  background: transparent;
   color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 60px;
  border: 3px solid #fff;
  /*margin: 20px;*/
  position: relative;
  letter-spacing: 1px;
}

.member-btn:before {
  content: '';
  width: 20px;
  height: 20px;
  background: #1b1b1b;
  border: 3px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  top: -12px;
  left: -13px;
}
.member-btn:after {
  content: '';
  width: 20px;
  height: 20px;
  background: #1b1b1b;
  border: 3px solid #fff;
  transform: rotate(-132deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  top: auto;
  right: -13px;
  bottom: -12px;
}



/*Footer*/

.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-menu ul{
  list-style: none;
  display: flex;
  align-items: center;
  
}

.footer-menu ul li{
  margin: 15px;
 
}

.footer-menu ul li .active{
  padding: 98px 0 82px 0;
  background: #1b1b1b;

}

.footer-menu ul li a{
  color: #fff;
}

.social-icons{
  display: flex;
}

.social-icons a{
  color: #fff;
  margin: 15px 0;
}

.social-icons i{
  font-size: 18px;
  margin: 0px 10px;
}


.footer-top{
  background: url(../banner5.png);
  background-size: cover;
  height: 650px;
}

.member-image{
      position: relative;
    top: -65px;
}

.footer-menu{
  margin-right: 185px;
}

.copyright{
  background: #050401;
  height: 75px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-content p{
  font-family:'Jost', sans-serif; ;
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
  opacity: .8;
  text-align: center;
}


@media only screen and (max-width: 1640px){
 

.hero{
  padding: 40px 10px;
}

h1{
  font-size: 70px!important;
}
.hero-img img{
  width: 695px;
}
.hero{
  padding: 100px 0;
}
.pricing,.feature{
  padding: 50px;
}
.member-content{
  margin-top: -70px;
}

.member{
  padding: 0 20px;
}
.footer{
  padding: 0 50px;
}
}

@media only screen and (max-width: 1440px){
  .hero{
  padding: 0 20px;
}
h1{
  font-size: 60px!important;
}
.hero-img img{
  width: 605px;
}
.hero{
  padding: 80px 20px;
}
h2{
  font-size: 50px!important;
  line-height: 90px;
}
.pricing,.feature{
  padding: 50px;
}
.member{
  padding: 0 20px;
}
.footer{
  padding: 0 50px;
}
}


@media only screen and (max-width: 1240px){

.member-image {
    position: relative;
    top: -20px;
}
.member-image img{
  width: 700px;
}

.footer-container{
  margin-top: 60px;
}

.latest-row{
  height: 325px;
}

.latest-row div img{
  width: 780px;
}
.discover-content {
    padding: 40px 18px 44px 118px;
}
.discover-box-1 ,.discover-box-2{
  width: auto;
  height: auto;
}
}

@media only screen and (max-width: 768px){

  .nav > .nav-links > ul li a {
    margin-left: 0%;
    margin-top: 1%;
    text-align: center;
}
.nav .nav-links ul span.icon {
    margin-left: 0px; 
      margin-right: 0px!important; 
}
.menu-login-btn {
    padding: 20px 40px;  
    margin: 5px auto;
    display: block;
}
.menu-member-btn {
    padding: 20px 40px;  
    margin: 5px auto;
    display: block;
}

.latest-float-left {
    display: none;
}

.active-nav {
     padding: 10px 0px!important; 
    background-color: #5ad5f9;
    color: #1f0369!important;
}

.nav > .nav-links > ul li {
    
     margin: 0px; 
}


.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.hero-content{
  text-align: center;
}


.hero-img img {
    width: 336px;
}

h1 {
    font-size: 40px!important;
}

h2 {
    font-size: 32px!important;
    line-height: 54px;
}

h4 {
    font-size: 22px;
    line-height: 38px;

}

.member-btn { 
    padding: 15px 40px;
}

.latest-content .latest-btn { 
    padding: 15px 40px;
}

.suscribe-btn{
  padding: 15px 40px;
}

.watch-btn{
  padding: 15px 40px;
}

.hero-content h1{
  line-height: 60px;
}
.hero-content h4 {
    font-size: 23px;
    line-height: 50px;
}

.suscribe-btn{
  margin-bottom: 20px;
}

.features-content h2 {
    margin-top: 0px;
}

.features-content {
    background-color: #111111;
    max-height: 256px;
    width: 100%;
    padding-left: 0%;
    z-index: 1;
    text-align: center;
}

.features-carousel-container {
    width: 64.8%;
    background-image: url(../features-carousel-bg.jpg);
     background-position: top; 
    background-repeat: no-repeat;
    background-size: cover;
}

.features-container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

br{
  display: none;
}


.discover-box{
    display: flex;
    flex-direction: column!important;
    
}

.discover-box-1{
    background: url(../dis1.png);
    background-repeat: no-repeat;
    /*width: 500px;*/
    
    box-sizing: content-box;
    display: flex;
    margin: 10px auto;
}
.discover-box2 {
    display: flex;
    justify-content: center;
    margin-top: 0px!important;
   /* width: 500px;*/
    flex-direction: column;
    

}
.discover {
    padding: 50px 0;
    background: #050401;
}

.discover-container-2{
  margin: 0px auto!important;
}

.discover-content h3 {
    font-size: 30px;
    line-height: 40px;
}
.discover-content p {
    
    margin: 10px 0;
}

.latest {
    padding: 50px 0 50px 0;
}

.latest-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    height: 400px!important;
   
}
.latest-content{
  text-align: center;
  margin-right: 0;
}
.latest-row div img {
  margin-top: 30px;
}
.pricing-heading {
    padding-top: 50px 0!important;
    
}


.pricing-box-container {
    display: flex;
    flex-direction: column;
}

.pricing-box-1{
  width: auto;
  margin: 20px auto;
  padding: 30px;
  height: auto;
}

.pricing, .feature {
  padding: 40px 0; 
}
.pricing-heading {
    padding-top: 0px!important;
    text-align: center;
    margin-bottom: 0px;
}
.member {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}


.member-image img {
    width: 340px;
    margin-top: 50px;
}

.member-content h2 {
  font-size: 36px;
    margin: 10px 0 12px 0;
    line-height: 61px;
}


.member-content {
     margin-top: 0px; 
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
.footer-top {
    height: 700px;
    padding: 50px 0
}

.footer-menu ul li .active {
    padding: 0px 0;
}

.footer-menu {
     margin-right: 0px; 
}





.latest-row div img {
    width: 350px;
}

.footer-logo img{
  width: 160px;
}
}

